/* home.css */
/* Remove scrollbars */
body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; Prevent scrolling */
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}
.bg-img {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the form */
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

.info {
  margin-bottom: 20px;
  text-align: center;
}

.info h1 {
  margin: 0 0 15px;
  font-size: 28px;
  font-weight: 700;
  color: #333;
}
/* Thumbnail Image */
.thumbnail img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: auto;
}
.form {
  background: #2e2929;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form .thumbnail {
  background: #f21414;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
  width: 87px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0px;
}

.form .thumbnail img {
  width: 100%;
}

.form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #0d0d0d;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #e91e1e;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #d81b1b;
}

.message {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.message a {
  color: #e61414;
  text-decoration: none;
  font-weight: 500;
}

.message a:hover {
  text-decoration: underline;
}

.register-form {
  display: none;
}

/* To switch forms dynamically, you might need additional CSS classes or JavaScript logic */
